.mobile-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid #333;
  z-index: 1000;
  flex-shrink: 1;
}

.nav-item {
  background: none;
  border: none;
  color: #fef8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
}

.nav-item .icon {
  width: 24px;
  height: 24px;
  fill: #1c1717;
}

.casino-icon {
  width: 24px;
  height: 24px;
  background-color: #fff8e8;
  mask-image: url("../images/casino-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../images/casino-icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
.menu-icon {
  width: 24px;
  height: 24px;
  background-color: #fff8e8;
  mask-image: url("../images/menu-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../images/menu-icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.bonus-icon {
  width: 24px;
  height: 24px;
  background-color: #fff8e8;
  mask-image: url("../images/bonus-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../images/bonus-icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.nav-item.active {
  color: #ffd700;
}

.nav-item.active .casino-icon {
  background-color: #ffd700;
}
.nav-item.active .menu-icon {
  background-color: #ffd700;
}
.nav-item.active .bonus-icon {
  background-color: #ffd700;
}

/*  */